@import "../../../styles/mixins.scss";

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include variable(background-color, --theme-primary-color, blue);
  padding-right: 20px;
}

.ant-drawer-body {
  padding: 0;
}
.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none !important;
}
